<%= render 'shared/page_title', title: 'Chefs' %>

<div align="center">
  <%= will_paginate %>
</div>

<% @chefs.each do |chef| %>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-2">
      <section class="chef-info text-center">
        <%= link_to gravatar_for(chef, size: 120), chef %>
      </section>
    </div>
    <div class="col-sm-6 well list-summary">
      <h3 class="text-center"><%= link_to chef.name, chef %></h3>
      <p class="text-center"><%= pluralize(chef.recipes.count, 'recipe') if chef.recipes.any? %></p>
      <div class="pull-right chef-actions">
        <%= link_to 'Delete Chef', chef_path(chef), method: :delete,
                    data: { confirm: 'Are you sure you want to delete this chef and all of their recipes' }, class: 'btn btn-xs btn-danger' %>
      </div>
    </div>
  </div>
<% end %>

<div align="center">
  <%= will_paginate %>
</div>
