<%= render 'shared/page_title', title: "Chef #{@chef.name} Profile" %>

<div class="row">
<% if @chef.biography %>
  <div class="col-sm-2 col-sm-offset-2">
    <%= gravatar_for @chef, size: 150 %>
  </div>
  <div class="col-sm-6 well biography">
    <%= simple_format(@chef.biography) %>
  </div>
<% else %>
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <%= gravatar_for @chef, size: 150 %>
  </div>
</div>
<% end %>
</div>

<h2 class="text-center recipe-list">Recipes</h2>

<div align="center">
  <%= will_paginate @chef_recipes %>
</div>

<%= render 'recipes/recipes', object: @chef_recipes, skip_gravatar: true %>

<div align="center">
  <%= will_paginate @chef_recipes %>
</div>
