<%= render 'shared/page_title', title: "Chef #{@chef.name} Profile" %>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <%= gravatar_for @chef, size: 150 %>
  </div>
</div>

<h2 class="text-center recipe-list">Recipes</h2>

<div align="center">
  <%= will_paginate @chef_recipes %>
</div>

<%= render 'recipes/recipes', object: @chef_recipes %>

<div align="center">
  <%= will_paginate @chef_recipes %>
</div>
