<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">

    <title>Buffet Car 5</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/flash_messages' %>

    <% if params[:action] == 'home' %>
      <div class="container-fluid">
    <% else %>
      <div class="container">
    <% end %>

    <%= yield %>

    </div>  <!-- End of container or container-fluid  -->
    <%= render 'layouts/footer' %>
  </body>
</html>
